In [1]:
from pathlib import Path
import tempfile
from pyarrow import dataset
import pandas as pd

In [9]:
root_dir = Path(Path.cwd().parent, "data", "mock")
root_dir

PosixPath('/home/awehrs/rar/data/mock')

In [12]:
ds = dataset.dataset(root_dir, format="csv")
ds

In [21]:
import os; import psutil; import timeit
ds.take([96]).to_pandas()

,Description,Units,Source,Start_Date,End_Date,Publisher,2004-12-31 00:00:00,2005-12-31 00:00:00,2006-12-31 00:00:00,2007-12-31 00:00:00,...,2012-12-31 00:00:00,2013-12-31 00:00:00,2014-12-31 00:00:00,2015-12-31 00:00:00,2016-12-31 00:00:00,2017-12-31 00:00:00,2018-12-31 00:00:00,2019-12-31 00:00:00,2020-12-31 00:00:00,2021-12-31 00:00:00
0,Ukraine - Unemployment Rate,percent,State Statistics Service Of Ukraine,2003-06-30,2021-12-31,SGE,9.2,7.8,7.4,6.9,...,8.1,7.2,10.6,9.5,9.7,9.9,9.3,8.7,10.1,10.6

In [ ]:
df1 = pd.read_csv(tmp_files[0])
df2 = pd.read_csv(tmp_files[1])

In [ ]:
total_dates = df1.columns.tolist() + df2.columns.tolist()

In [ ]:
overlap_dates = list(set(df1.columns).intersection(set(df2.columns)))
overlap_dates

In [ ]:
ds_num_cols = ds.column_names

In [ ]:
assert 577 == 584 - 7

In [ ]:
ds[overlap_dates[0]]

In [ ]:
ds.to_pandas()[overlap_dates]

In [8]:
Path.cwd().parent

PosixPath('/home/awehrs/rar')

In [104]:
import nasdaqdatalink
import os
import dotenv

In [105]:
dotenv.load_dotenv()
NASDAQ_KEY = os.getenv("NASDAQ_KEY")
nasdaqdatalink.ApiConfig.api_key = NASDAQ_KEY

In [106]:
NASDAQ_KEY

'tUsGwv7BoyXAsBdduQsw'

In [108]:
nasdaqdatalink.get('SGE/XKXSSRE', start_date='2020-12-31', end_date='2020-12-31')

            Value
Date
2020-12-31    5.0

In [110]:
nasdaqdatalink.Database("SGE").bulk_download_to_file(tempfile.mkdtemp())

'/tmp/tmparr55_gl/SGE.zip'

In [132]:
ds = dataset.dataset(Path.cwd().parent / "data" / "mock", format="csv")

In [185]:
ds.to_table().to_pandas()[0]

KeyError: 0

In [140]:
dir(ds)[-20:]

['__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count_rows',
 'files',
 'filesystem',
 'format',
 'from_paths',
 'get_fragments',
 'head',
 'partition_expression',
 'partitioning',
 'replace_schema',
 'scanner',
 'schema',
 'take',
 'to_batches',
 'to_table']

In [165]:
ds.schema

Description: string
Units: string
Source: string
Start_Date: date32[day]
End_Date: date32[day]
Publisher: string
2004-12-31 00:00:00: double
2005-12-31 00:00:00: double
2006-12-31 00:00:00: double
2007-12-31 00:00:00: double
2008-12-31 00:00:00: double
2009-12-31 00:00:00: double
2010-12-31 00:00:00: double
2011-12-31 00:00:00: double
2012-12-31 00:00:00: double
2013-12-31 00:00:00: double
2014-12-31 00:00:00: double
2015-12-31 00:00:00: double
2016-12-31 00:00:00: double
2017-12-31 00:00:00: double
2018-12-31 00:00:00: double
2019-12-31 00:00:00: double
2020-12-31 00:00:00: double
2021-12-31 00:00:00: double

In [124]:
root = Path.cwd().parent

In [125]:
pd.read_csv(root / "data" / "mock" / "SGEZAFGPC.csv")

Empty DataFrame
Columns: [Description, Units, Source, Start_Date, End_Date, Publisher, 1960-12-31 00:00:00, 1961-12-31 00:00:00, 1962-12-31 00:00:00, 1963-12-31 00:00:00, 1964-12-31 00:00:00, 1965-12-31 00:00:00, 1966-12-31 00:00:00, 1967-12-31 00:00:00, 1968-12-31 00:00:00, 1969-12-31 00:00:00, 1970-12-31 00:00:00, 1971-12-31 00:00:00, 1972-12-31 00:00:00, 1973-12-31 00:00:00, 1974-12-31 00:00:00, 1975-12-31 00:00:00, 1976-12-31 00:00:00, 1977-12-31 00:00:00, 1978-12-31 00:00:00, 1979-12-31 00:00:00, 1980-12-31 00:00:00, 1981-12-31 00:00:00, 1982-12-31 00:00:00, 1983-12-31 00:00:00, 1984-12-31 00:00:00, 1985-12-31 00:00:00, 1986-12-31 00:00:00, 1987-12-31 00:00:00, 1988-12-31 00:00:00, 1989-12-31 00:00:00, 1990-12-31 00:00:00, 1991-12-31 00:00:00, 1992-12-31 00:00:00, 1993-12-31 00:00:00, 1994-12-31 00:00:00, 1995-12-31 00:00:00, 1996-12-31 00:00:00, 1997-12-31 00:00:00, 1998-12-31 00:00:00, 1999-12-31 00:00:00, 2000-12-31 00:00:00, 2001-12-31 00:00:00, 2002-12-31 00:00:00, 2003-12-31 00:00:00, 2004-12-31 00:00:00, 2005-12-31 00:00:00, 2006-12-31 00:00:00, 2007-12-31 00:00:00, 2008-12-31 00:00:00, 2009-12-31 00:00:00, 2010-12-31 00:00:00, 2011-12-31 00:00:00, 2012-12-31 00:00:00, 2013-12-31 00:00:00, 2014-12-31 00:00:00, 2015-12-31 00:00:00, 2016-12-31 00:00:00, 2017-12-31 00:00:00, 2018-12-31 00:00:00, 2019-12-31 00:00:00, 2020-12-31 00:00:00]
Index: []

[0 rows x 67 columns]

In [148]:
import datasets

In [174]:
_path = Path.cwd().parent / "data" / "mock"
print(_path)
hf = datasets.load_dataset("csv", data_dir=_path, streaming= True)

/home/awehrs/rar/data/mock

Resolving data files: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100/100 [00:00<00:00, 272534.37it/s]
Using custom data configuration default-99e65e30b5730911

In [180]:
hf.to_pandas()

AttributeError: 'IterableDatasetDict' object has no attribute 'to_pandas'