In [20]:
from src.docstore import Docstore

from pathlib import Path
import random

import pandas as pd
import numpy as np

In [15]:
# docstore = Docstore.build(Path("data", "mock"))
# docstore.save(Path("tests", "test_artifacts", "test_docstore"))
docstore = Docstore.load(Path("tests", "test_artifacts", "test_docstore"))

In [16]:
query_idx = random.choices(
    list(range(len(docstore._huggingface_dataset))),
    k=5,
)

In [17]:
queries = docstore._huggingface_dataset[query_idx]["Embeddings"]

In [18]:
queries = np.array(queries).astype(np.float32)

In [19]:
_, examples = docstore.get_nearest_examples(queries, 5, ["Description"])

In [32]:
dfs = [pd.DataFrame(ex)[docstore.time_index] for ex in examples]

df = pd.concat(dfs)

In [54]:
df.columns = pd.to_datetime(df.columns, format="%Y-%m-%d")
df

,1960-12-31,1961-12-31,1962-12-31,1963-12-31,1964-12-31,1965-12-31,1966-12-31,1967-12-31,1968-12-31,1969-12-31,...,2011-12-31,2012-12-31,2013-12-31,2014-12-31,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,73.20,70.10,72.50,73.20,71.00,75.00,74.80,73.00,69.90,69.60
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.60,-0.80,2.40,-4.10,1.40,1.90,0.50,1.10,0.00,0.80
2,696.3,692.5,715.3,690.1,659.7,651.1,627.5,620.7,606.5,635.7,...,868.00,914.10,934.70,967.10,953.60,859.60,817.50,658.69,660.07,635.12
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-26717.50,-17398.30,-19566.70,-20245.80,-19510.30,-28606.70,-31396.80,-30662.10,-48079.20,-105906.60
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,721.00,14.00,26.00,-2.00,44.00,2.00,-29.00,2.00,-137.90
1,696.3,692.5,715.3,690.1,659.7,651.1,627.5,620.7,606.5,635.7,...,868.00,914.10,934.70,967.10,953.60,859.60,817.50,658.69,660.07,635.12
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.50,3.75,NaN,4.75,4.25,NaN,5.00,NaN,NaN,6.25
3,3.0,3.06,3.12,3.18,3.25,3.31,3.37,3.43,3.5,3.57,...,12.29,12.71,13.13,13.57,14.01,14.56,14.65,15.16,15.94,16.42
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.60,-0.80,2.40,-4.10,1.40,1.90,0.50,1.10,0.00,0.80
0,None,None,None,None,None,None,None,None,None,None,...,33.20,34.00,33.80,32.70,31.60,31.20,29.80,29.30,28.20,NaN
1,None,None,None,None,None,None,None,None,None,None,...,48.60,49.00,48.70,48.00,47.00,46.40,46.70,46.60,46.60,53.40
2,None,None,None,None,None,None,None,None,None,None,...,10.10,10.10,11.40,9.60,5.30,5.00,5.00,4.10,3.40,-10.90
3,None,None,None,None,None,None,None,None,None,None,...,828.00,874.20,923.70,973.00,1024.90,1078.40,1135.80,1363.92,1439.16,1374.58
4,None,None,None,None,None,None,None,None,None,None,...,4.30,3.60,1.10,3.50,2.70,3.30,1.80,1.30,-0.70,-4.40
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.90,25.60,11.30,9.70,11.20,8.10,7.70,4.10,1.30,-14.20
1,696.3,692.5,715.3,690.1,659.7,651.1,627.5,620.7,606.5,635.7,...,868.00,914.10,934.70,967.10,953.60,859.60,817.50,658.69,660.07,635.12
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.30,-1.45,-1.42,-2.06,-1.73,-1.81,-1.70,-1.69,-1.74,-0.42
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.30,3.60,1.10,3.50,2.70,3.30,1.80,1.30,-0.70,-4.40
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,828.00,874.20,923.70,973.00,1024.90,1078.40,1135.80,1363.92,1439.16,1374.58
0,None,None,None,None,None,None,None,None,None,None,...,NaN,16905.33,25261.14,32131.28,32816.31,NaN,NaN,37066.67,40735.08,43755.38
1,None,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,None,None,None,None,None,None,None,None,None,None,...,NaN,NaN,3.82,3.70,3.74,3.83,3.79,NaN,47.46,NaN
3,None,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,168.96,NaN,45.68,51.82,NaN,43.10
4,None,None,None,None,None,None,None,None,None,None,...,3.50,3.75,NaN,4.75,4.25,NaN,5.00,NaN,NaN,6.25

In [55]:
df_resample = df.resample("M", axis=1).agg("mean").ffill(axis=1)
df_resample

,1960-12-31,1961-01-31,1961-02-28,1961-03-31,1961-04-30,1961-05-31,1961-06-30,1961-07-31,1961-08-31,1961-09-30,...,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,69.9000,69.9000,69.9000,69.9000,69.9000,69.9000,69.9000,69.9000,69.9000,69.6000
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.8000
2,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,...,660.0700,660.0700,660.0700,660.0700,660.0700,660.0700,660.0700,660.0700,660.0700,635.1200
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.0000,9.0000,9.0000,9.0000,9.0000,9.0000,9.0000,9.0000,9.0000,9.0000
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-48079.2000,-48079.2000,-48079.2000,-48079.2000,-48079.2000,-48079.2000,-48079.2000,-48079.2000,-48079.2000,-105906.6000
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,-137.9000
1,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,...,660.0700,660.0700,660.0700,660.0700,660.0700,660.0700,660.0700,660.0700,660.0700,635.1200
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0000,5.0000,5.0000,5.0000,5.0000,5.0000,5.0000,5.0000,5.0000,6.2500
3,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,15.9400,15.9400,15.9400,15.9400,15.9400,15.9400,15.9400,15.9400,15.9400,16.4200
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.8000
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.2000,28.2000,28.2000,28.2000,28.2000,28.2000,28.2000,28.2000,28.2000,28.2000
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.6000,46.6000,46.6000,46.6000,46.6000,46.6000,46.6000,46.6000,46.6000,53.4000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.4000,3.4000,3.4000,3.4000,3.4000,3.4000,3.4000,3.4000,3.4000,-10.9000
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1439.1600,1439.1600,1439.1600,1439.1600,1439.1600,1439.1600,1439.1600,1439.1600,1439.1600,1374.5800
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.7000,-0.7000,-0.7000,-0.7000,-0.7000,-0.7000,-0.7000,-0.7000,-0.7000,-4.4000
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.3000,1.3000,1.3000,1.3000,1.3000,1.3000,1.3000,1.3000,1.3000,-14.2000
1,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,...,660.0700,660.0700,660.0700,660.0700,660.0700,660.0700,660.0700,660.0700,660.0700,635.1200
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.7400,-1.7400,-1.7400,-1.7400,-1.7400,-1.7400,-1.7400,-1.7400,-1.7400,-0.4200
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.7000,-0.7000,-0.7000,-0.7000,-0.7000,-0.7000,-0.7000,-0.7000,-0.7000,-4.4000
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1439.1600,1439.1600,1439.1600,1439.1600,1439.1600,1439.1600,1439.1600,1439.1600,1439.1600,1374.5800
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40735.0800,40735.0800,40735.0800,40735.0800,40735.0800,40735.0800,40735.0800,40735.0800,40735.0800,43755.3800
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0653,0.0653,0.0653,0.0653,0.0653,0.0653,0.0653,0.0653,0.0653,0.0653
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,47.4600,47.4600,47.4600,47.4600,47.4600,47.4600,47.4600,47.4600,47.4600,47.4600
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51.8200,51.8200,51.8200,51.8200,51.8200,51.8200,51.8200,51.8200,51.8200,43.1000
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0000,5.0000,5.0000,5.0000,5.0000,5.0000,5.0000,5.0000,5.0000,6.2500

In [ ]:
df = df.fillna(value="NaN")

In [58]:
slice_ = df_resample.loc[:, :"1962-03-15"]
slice_

,1960-12-31,1961-01-31,1961-02-28,1961-03-31,1961-04-30,1961-05-31,1961-06-30,1961-07-31,1961-08-31,1961-09-30,1961-10-31,1961-11-30,1961-12-31,1962-01-31,1962-02-28
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,692.50,692.50,692.50
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,692.50,692.50,692.50
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.06,3.06,3.06
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,692.50,692.50,692.50
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
slice_.iloc[:, len(slice_.columns) - 5:].head(5)

   1961-10-31  1961-11-30  1961-12-31  1962-01-31  1962-02-28
0         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN
2       696.3       696.3       692.5       692.5       692.5
3         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN

In [95]:
z = [frame.dropna(axis=0, thresh=200) for frame in np.split(df_resample, 5, axis=0)]
z[3]

,1960-12-31,1961-01-31,1961-02-28,1961-03-31,1961-04-30,1961-05-31,1961-06-30,1961-07-31,1961-08-31,1961-09-30,...,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31
1,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,696.3,...,660.07,660.07,660.07,660.07,660.07,660.07,660.07,660.07,660.07,635.12
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.70,-0.70,-0.70,-0.70,-0.70,-0.70,-0.70,-0.70,-0.70,-4.40
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1439.16,1439.16,1439.16,1439.16,1439.16,1439.16,1439.16,1439.16,1439.16,1374.58